body {
	background-color: #eeeeee;
}

h1 {
	display: inline;
	vertical-align: middle;
	padding-left: 50px;
}

.profile {
	display: inline;
	vertical-align: middle;
	width: 300px;
}

.card-image {
	
}

.activator {
	height: 150px;
	object-fit: cover;
}